<div class="row d-flex justify-content-center p-3" *ngIf="orderIsSet">
  <div class="col-sm-12 col-md-6 col-lg-6">
    <p>Order details:</p>
    <table class="table table-bordered">
      <tbody>
      <tr>
        <th>ID</th>
        <td>{{ orderObj.orderID}}</td>
      </tr>
      <tr>
        <th>Description</th>
        <td>{{ orderObj.description}}</td>
      </tr>
      <tr>
        <th>Amount</th>
        <td>{{ orderObj.amount}}</td>
      </tr>
      <tr>
        <th>Currency</th>
        <td>{{ orderObj.currency}}</td>
      </tr>
      <tr>
        <th>Status</th>
        <td>{{ orderObj.status}}</td>
      </tr>
      </tbody>
    </table>
    <div class="d-flex">
      <div class="col-6">
        <button class="btn btn-primary w-100" routerLink="/aliasPayment">Login and pay</button>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="form-group w-100">
              <select class="form-control" id="language" name="Language" [(ngModel)]="selectedLanguage">
                <option value="en_US">English</option>
                <option value="de_CH">German</option>
                <option value="fr_FR">French</option>
              </select>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6">
            <button class="btn btn-primary w-100" (click)="payment()">Create alias and Pay</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="row d-flex justify-content-center p-3" *ngIf="!orderIsSet">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <form (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="form-group">
          <label for="orderID">Order ID:</label>
          <input ngModel type="number" id="orderID" name="orderID" class="form-control" [(ngModel)]="orderChanged">
        </div>
        <input type="submit" value="Search" class="btn btn-primary w-100" required>
      </form>
      <p>Order details:</p>
      <div *ngIf="orderIsSet">
        <table class="table table-bordered">
          <tbody>
          <tr>
            <th>ID</th>
            <td>{{ orderObj.orderID}}</td>
          </tr>
          <tr>
            <th>Description</th>
            <td>{{ orderObj.description}}</td>
          </tr>
          <tr>
            <th>Amount</th>
            <td>{{ orderObj.amount}}</td>
          </tr>
          <tr>
            <th>Currency</th>
            <td>{{ orderObj.currency}}</td>
          </tr>
          <tr>
            <th>Status</th>
            <td>{{ orderObj.status}}</td>
          </tr>
          </tbody>
        </table>
        <div class="d-flex">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <button class="btn btn-primary w-100" routerLink="/aliasPayment">Login, create and pay with Alias</button>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <button class="btn btn-primary w-100" (click)="payment()">Pay</button>
          </div>
        </div>
      </div>
    </div>

  </div>
